body{

    background: rgb(228, 228, 228) !important;
}

body {
    padding-top: 75px;
}

h1 {
    font-size: 25px;
}

.card {
    background-color: #cff4fc;
}

h2 {
    color: #276a7b;
}

x1 {
    font-size: 25px;
    color: #cff4fc !important;
}
